.job_container {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 0 auto;
  padding: 0rem;
  max-width: 760px;
}

.header {
  background-color: #e6f4f5;
  height: 350px;
}

.header_text {
  font-size: 40pt;
  line-height: 100%;
  font-weight: 1000;
  align-items: center;
  padding-top: 50px;
  margin: 0 466px;
  margin-bottom: 30px;
}

.header_p {
  padding-right: 200px;
  margin: 0 466px;
}
